<%- include('header') -%>

<h1 style="color: rgba(16, 235, 78, 0.938);">About us page :</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate totam labore veniam doloribus officia hic optio enim nisi odio possimus laborum pariatur quidem beatae, ducimus accusamus nobis repellat vitae illo?</p>


<%- include('footer') -%>